.display-chico-nos {
	display: inherit !important;
}

h1 {
	text-align:center;
	color: black;
	font-family: "kollektif", sans-serif;
	font-size: 4em;
	margin-left: auto;
	margin-right:auto;
	padding-bottom: 0.3em;
	padding-top:0em;
	margin-bottom: 0;
	margin-top: 0em
	width: 100%;
	max-width:300px;
}


select.display-chico-nos {
	display: block;
	padding: .4em 1.4em .3em 2.2em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid white;
	box-shadow: 0 1px 0 1px white);
	border-radius: .3em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #ebf5f5;
	font-size: 1em;
	width: 100%;
	font-family:  "kollektif", "tahoma", sans-serif;
	letter-spacing: 0.9em;
	height: 2em;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
   linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
   background-repeat: no-repeat, repeat;
   background-position: right .7em top 50%, 0 0;
   background-size: .65em auto, 100%;
	
	
}


a {
	text-decoration: none;
	color: black;
	text-align: center;
}

a:hover, a:active { 
    background-color: #ebf5f5;
	font-weight: bold;
}


.boxed {
	border: 4px solid #ebf5f5;
	background-color: #ebf5f5;
	text-align: justify;
	font-family: "kollektif", "arial", sans-serif;
	line-height: 1.8em;
	padding: 1em;
	letter-spacing: 0.1em;
	font-size: 0.8em;
	margin: 0;
}


img {
	max-width: 100%;
	padding: 0;
	margin: 0;
}

.homebutton {
	width: 16%;
	text-align: center;
	background-color: #ebf5f5;
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 0;
	padding-right: 0;
}

.footerchico {
	text-align:center;
	color: black;
	font-family: "kollektif", sans-serif;
	font-size: 0.8em;
	display: block;
	font-weight: bold;
	letter-spacing: 0.3em;
	margin-right: auto;
	margin-left: auto;
	
	
	
}