.display-grande-nos {
	display: inherit !important;
}

h1 {
	text-align:center;
	color: black;
	font-family: "kollektif", sans-serif;
	font-size: 4em;
	margin-left: auto;
	margin-right:auto;
	padding-bottom: 0;
	margin-bottom: 0;
	width: 100%;
	max-width:300px;
}


h3{
	text-align:center;
	color: black;
	font-family: "kollektif", sans-serif;
	font-size: 1.5em;
	margin-left: auto;
	margin-right:auto;
	padding-top: 0;
	margin-top: 0;
	width: 100%;
	max-width:300px;
}


ul {
	list-style-type: none;	
	text-align:center;
	position: relative;
	
}

li {
	font-weight: bold;
	 float: none; 
	 display: inline-block;
	 margin:0; 
	 padding:0;
	 margin-top: 1em;
	 font-family: "kollektif", sans-serif;
}


a {
	text-indent:0;
	margin:0;
	text-decoration: none;
	color: black;
	padding-right: 5em;
	padding-left: 4em;
	padding-top: 1em;
	padding-bottom: 1em;
	
}

a:hover, a:active { 
    background-color: #ebf5f5;
}

.boxed{
	
	width: 25%;
	text-align: justify;
	font-family: "kollektif", "arial", sans-serif;
	line-height: 1.8em;
	padding: 2.5em;
	letter-spacing: 0.1em;
	font-size: 0.8em;
	float: right;
	margin-right: 20em;
	margin-top: 2.5em;
	margin-bottom: 3em;
	
}
.boxed:first-letter {
	font-weight: bold;
	font-size: 2em;
}

.nosotros-pic {
	float: left;
	width: 40%;
	
	
	
}
img {
	float: left;
	width: 68%;
	margin-left: 16em;
	margin-top: 1em;
	margin-bottom: 3em;
}

.homebutton {
	width: 16%;
	text-align: center;
	background-color: #ebf5f5;
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 0;
	padding-right: 0;
}

footer {
	clear: both;
	text-align:center;
	color: black;
	font-family: "kollektif", sans-serif;
	font-size: 0.8em;
	display: block;
	font-weight: bold;
	letter-spacing: 0.3em;
	margin-right: auto;
	margin-left: auto;
	padding: 0.3em;
	width: 75em;
	
	
}
	