.display-grande-pago {
	display: inherit !important;
}
h1 {
	text-align:center;
	color: black;
	font-family: "kollektif", sans-serif;
	font-size: 4em;
	margin-left: auto;
	margin-right:auto;
	padding-bottom: 0;
	margin-bottom: 0;
	width: 100%;
	max-width:300px;
}


h3{
	text-align:center;
	color: black;
	font-family: "kollektif", sans-serif;
	font-size: 1.5em;
	margin-left: auto;
	margin-right:auto;
	padding-top: 0;
	margin-top: 0;
	width: 100%;
	max-width:300px;
}

ul {
	list-style-type: none;	
	text-align:center;
	position: relative;
	
}

li {
	font-weight: bold;
	 float: none; 
	 display: inline-block;
	 margin:0; 
	 padding:0;
	 margin-top: 1em;
	 font-family: "kollektif", sans-serif;
}


a {
	text-indent:0;
	margin:0;
	text-decoration: none;
	color: black;
	padding-right: 5em;
	padding-left: 4em;
	padding-top: 1em;
	padding-bottom: 1em;
	
}

a:hover, a:active { 
    background-color: #ebf5f5;
}

.mediospago {
	float: right;
	color: black;
	font-family: "kollektif", sans-serif;
	width: 32%;
	margin-right: 15%;
	height: 4em;
	
	
}
.envios {
	float: left;
	color: black;
	font-family: "kollektif", sans-serif;
	font-size: 1em;
	width: 32%;
	height: 4em;
	margin-left: 15%;
	
}
.textoenvios {
	font-family: "kollektif", "arial", sans-serif;
	line-height: 1.8em;
	font-size: 0.8em;
	letter-spacing: 0.1em;
}

.textopagos {
	font-family: "kollektif", "arial", sans-serif;
	line-height: 1.8em;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	
	
}
h4 {
	font-family: "kollektif", sans-serif;
	font-size: 1em;
	letter-spacing: 0.5em;
	border-top: 6px solid #bcdcdc;
	border-left: 6px solid #bcdcdc;
	border-right: 6px solid #bcdcdc;
	padding: 1em;
	text-align: center;
}
.fotopago {
	float: right;
	margin-top: 10%;
	margin-right: 23%;
	margin-bottom: 2%;
	max-width: 20%;
}
.fotoenvios {
	float: left;
	margin-top: 8%;
	margin-left: 20%;
	margin-bottom: 2%;
	max-width: 20%;
	
}


.homebutton {
	width: 16%;
	text-align: center;
	background-color: #ebf5f5;
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 0;
	padding-right: 0;
}

footer {
	clear: both;
	text-align:center;
	color: black;
	font-family: "kollektif", sans-serif;
	font-size: 0.8em;
	display: block;
	font-weight: bold;
	letter-spacing: 0.3em;
	margin-right: auto;
	margin-left: auto;
	padding: 0.3em;
	width: 75em;
	
	
}
	